#upload-form {
}

#upload-form {
	display: block;
	width: 85%;
	margin: 25px auto;
	height:40px;
}

#upload-form input {
	margin-bottom:10px;
	margin-right:10px;
	display:inline-block;
	float:left;
}

#footer {
	clear:both;
}

#footer ul {
	list-style:none;
	padding:0;
}

#footer li img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
}

#project-info {
	text-align: justify;
}