#upload-form {
}

#upload-form {
	margin-bottom:50px;
}

/** styled specifically **/
#fileUpload {
	padding-bottom:28px;
}

#footer {
	clear:both;
}

#footer ul {
	list-style:none;
	padding:0;
}

#footer li img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
}

#project-info {
	text-align: justify;
}

.support-lib-text {
	font-size:8px;
}

.commentForm {
	margin-top:30px;
}